# --- COMPILADOS Y BUILD (Basura generada) ---
/build/
/out/
/bin/
*.class

# --- DEPENDENCIAS Y CACHÉ ---
.gradle/
*.log

# --- CONFIGURACIONES DE IDE (Bloqueo total) ---
# Ignoramos la carpeta entera. Tu config es TUYA, no del repo.
.idea/
.vscode/
.settings/
*.iml
*.iws
*.ipr
.classpath
.project

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

# --- EXCEPCIONES VITALES (Lo que SÍ debe subir) ---
# Ignoramos todos los jars por defecto...
*.jar
# ...PERO salvamos el wrapper de Gradle porque es esencial para correr el proyecto.
!gradle/wrapper/gradle-wrapper.jar